.mb-4 {
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.project-count {
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
}   

.btn {
    margin-bottom: 24px;
}

.navbar-custom {
    box-shadow: 1px 2px 13px;
    background: #ffffff !important;
}

.outer-border {
    background-color: #303e53;
    padding: 2%;
}

.inner-border {

    background-color: #303e53;
    border: white 1px solid;
    /* border-style: solid; */
    padding: 10%;
}

.inner-border h1 {
    color: white;
}
.inner-border h2 {
    color: white;
}

.inner-border h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1 !important;
}

.mouse-wheel {
    color: white;
}

.container padd {
    padding: 0%;
}